<div class='container'>
  <div>
    <div class="author hidden" authorId="{{ideaData.user_id}}"></div>

    <div class='title-area'>
      <div>
        <h4 class="fw-bold title">{{ideaData.title}}</h4>
        <p class="badge bg-secondary my-3 px-3 fs-6">{{ideaData.company_name}} ({{ideaData.stock_code}})</p>
        <img src="/img/{{ideaData.future}}.png" class="{{ideaData.future}}-icon rounded-pill border mx-2">  
      </div>

      <div class="text-secondary mt-auto d-flex flex-column">
        <button class="btn btn-outline-danger rounded-pill mb-2 delete-idea-btn hidden">刪除</button>
        <p>{{ideaData.date}}</p>
      </div>
    </div>

    <hr />

    <div id='ideas-card-img'>
      <img src='{{ideaData.image}}' class='img-fluid' />
    </div>

    <hr />

    <div class='footer-area'>
      <a href="/personal-articles/{{ideaData.user_id}}">
        <div class="user-area">

          <div class="prfile-icon-area overflow-hidden rounded">
            <img src="{{ideaData.user_picture}}" alt="" id="user-img">
          </div>
          
          <p>{{ideaData.user_name}}</p>
        </div>
      </a>
      
      <div class="social-btn-area d-flex align-items-center btn btn-outline-secondary border-0 rounded-pill">
        <img src='/img/like.png' class='social-btn no-like' />
        <img src='/img/liked.png' class='social-btn hidden liked' />
        <div class="liked-num hidden">1</div>
        {{!-- <img src='/img/bookmark.png' class='social-btn' />
        <img src='/img/share.png' class='social-btn' /> --}}

      </div>
    </div>

    {{#each ideaData.content}}
      <div class='analysis-card'>
        <h4 class="fw-bold">{{@key}}</h4>
        <p>{{this}}</p>
      </div>
    {{/each}}
  </div>
</div>

{{! JS }}
<script src='/javascript/ideas-details.js'></script>